* {
    box-sizing: inherit;
}
body{
    font-weight: 400;
}
html{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
body{
    line-height: 1.5;
}
body,html{
    font-size: 100%;
}
html{
    box-sizing: border-box;
    font-size: 14px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
body{
    font-size: 1rem;
}
h1 {
    color: #3EB15B;
}
.container{
    position: relative;
}
/* Phone */
@media screen and (max-width: 768px) {
    .container{
        margin: 0 50px auto ;
        max-width:768px 
   }
}
/* Tablet */
@media screen and (min-width: 769px) {
    .container{
        margin: 0 50px auto ;
        max-width:768px 
   }
}
/* Desktop */
@media screen and (min-width: 1120px) {
    .container{
        margin:0 auto;
        max-width:960px 
   }
}
